<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>layout</title>

    <link rel="stylesheet" href="../components/base/base.css">
    <link rel="stylesheet" href="../components/footer/footer.css">
  
</head>

<body>
    <div class="base">
        <div class="base-inner"></div>
    </div>
    <div class="footer">
        <div class="footer-inner"></div>
    </div>

    {% block body %}
        <div>父级</div>
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>

</html>