.base {
    width: 200px;
    height: 50px;
    border: 1px solid #ccc;
    transform: initial;

    .base-inner {
        width: 100px;
        height: 20px;
        border: 1px solid #ccc;
        padding: 20px;
    }
}