<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>layout</title>

    <link rel="stylesheet" href="../components/base/base.css">
    <link rel="stylesheet" href="../components/footer/footer.css">
  
</head>

<body>
    <div class="base">
        <div class="base-inner"></div>
    </div>
    <div class="footer">
        <div class="footer-inner"></div>
    </div>

    

        <div>父级</div>
    


<div>
    
    body数据数据
    
</div>
<div style="color: red;background: #ccc">
    12345
</div>
<div style="color: red;background: #ccc">
    
    1
    
    2
    
    3
    
    4
    
    5
    
</div>
<div>
    
</div>
<div>
    0,1,2,3,4,
</div>



aaa
 3




    
    
</body>

</html>